TELEGRAM_BOT_TOKEN=put-token-here
ADMIN_TELEGRAM_IDS=265485424
BOT_DATABASE_PATH=bot_data.sqlite3
SUBSCRIPTION_CHANNEL_USERNAME=@nast_bar
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
VIZ_GUIDE_PRICE_RUB=
YOOKASSA_RETURN_URL=https://t.me/nast_bar_bot
